@tailwind base;
@tailwind components;
@tailwind utilities;

/*:root {*/
/*  --background: #ffffff;*/
/*  --foreground: #171717;*/
/*}*/

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --background: #0a0a0a;*/
/*    --foreground: #ededed;*/
/*  }*/
/*}*/

/*:root {*/
/*  --theme-body: #f8f9fa;       !* 略微柔和的背景色 *!*/
/*  --theme-primary: #1e80ff;    !* 主色调 *!*/
/*  --theme-text: #1f2937;       !* 不用纯黑，用深灰色更舒适 *!*/
/*  --theme-bg: #ffffff;*/
/*  --theme-hover: #2d3748;      !* 悬浮色使用深灰 *!*/
/*  --theme-border: #e5e7eb;     !* 边框色使用浅灰 *!*/
/*}*/

/*:root.dark {*/
/*  --theme-body: #111827;       !* 深色但不是纯黑 *!*/
/*  --theme-primary: #3b82f6;    !* 暗色主题下稍微调亮主色 *!*/
/*  --theme-text: #f3f4f6;       !* 不用纯白，用浅灰色更护眼 *!*/
/*  --theme-bg: #1f2937;         !* 主要背景色用深灰 *!*/
/*  --theme-hover: #9ca3af;      !* 暗色主题下的悬浮色 *!*/
/*  --theme-border: #374151;     !* 暗色主题的边框色 *!*/
/*}*/

:root {
  --theme-primary: #3b82f6;
  --theme-text: #374151;
  --theme-bg: #ffffff;
  --theme-hover: #f3f4f6;
  --theme-body: #f9fafb;
  --theme-border: #e5e7eb;
  --tgene-bg-img: #d9d9d9;
}

:root.dark {
  --theme-primary: #60a5fa;
  --theme-text: #e5e7eb;
  --theme-bg: #111827;
  --theme-hover: #1f2937;
  --theme-body: #030712;
  --theme-border: #374151;
  --tgene-bg-img: #242424c9;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: var(--theme-body);
  background-image: radial-gradient(var(--tgene-bg-img) 1px, transparent 1px);
  background-size: 20px 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

@keyframes scale {
  to {
    mask-size: 200vmax;
  }
}

::view-transition-new(root) {
  mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"><circle cx="20" cy="20" r="20" fill="white"/></svg>')
  center / 0 no-repeat;
  animation: scale 1s;
}

::view-transition-old(root),
.dark::view-transition-old(root) {
  animation: none;
  z-index: -1;
}
.dark::view-transition-new(root) {
  animation: scale 1s;
}

@keyframes scale {
  to {
    mask-size: 200vmax;
  }
}